.ai-code-generator{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
}
.header{
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 30px;
}
.header span{
    color: #DE1B89;
    font-weight: 600;
}
.img-loading{
    display: flex;
    flex-direction: column;
}

.img-loading img{
    width: 312px;
}
.search-box{
    display: flex;
    width: 700px;
    height: 75px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background-color: #1F3540;

}
.search-input{
    width: 600px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    padding-left: 35px;
    margin-right: 35px;

}
.search-input ::placeholder{
    color: #999;

}
.generate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 75px;
    border-radius: 50px;
    background: #DE1B89;
    cursor: pointer;
    
}
.loading-bar{
    width: 0px;
    height: 8px;
    background-color: #DE1B89;

}
.loading-text{
    font-size: 8px;
}
.loading-bar-full{
    width: 312px;
    height: 8px;
    background-color: #DE1B89;
    transition: 1s;
}
.display-none{
    display: none;

}